{% from '_macros.html' import render_event_timeline %}
{% extends 'admin/model/details.html' %}

{% block details_table %}
    {% set event = model %}

    {{ render_event_timeline(event.event_session.events, event) }}

    <div style="font-size: 20px; margin: 20px;">
        <h2>
            Event #{{ event.id }}<br>
            <strong>
                &lt;{{event.namespace}}.{{event.class_name}}&gt;
            </strong>
        </h2>
        <small><strong>Timestamp</strong>: {{ event.timestamp or "" }}</small>
        <br>
        <small><strong>Ingested at</strong>: {{ event.ingested_at or "" }}</small>
        <br>
        <small><strong>User</strong>: 
            {% if event.event_session and event.event_session.user %}
                {{ event.event_session.user }}
            {% else %}
                (Unknown)
            {% endif %}
        </small>
    </div>

    <div style="margin: 20px;">
        <h3>Data:</h3>
        <pre>{{ event.data | tojson(indent=4) }}</pre>
    </div>
    

    {{ super() }}
{% endblock %}