{% from '_macros.html' import render_event_timeline %}
{% from 'admin/event/_event_macros.html' import render_value, render_struct_table, render_dict_table, render_list %}
{% extends 'admin/model/details.html' %}

{% block details_table %}
    {% set event = model %}

    {{ render_event_timeline(event.event_session.events, event) }}

    <div class="event-details-header">
        <h2>
            Event #{{ event.id }}<br>
            <strong>
                &lt;{{event.namespace}}.{{event.class_name}}&gt;
            </strong>
        </h2>
        <small><strong>Timestamp</strong>: {{ event.timestamp or "" }}</small>
        <br>
        <small><strong>Ingested at</strong>: {{ event.ingested_at or "" }}</small>
        <br>
        <small><strong>User</strong>: 
            {% if event.event_session and event.event_session.user %}
                {{ event.event_session.user }}
            {% else %}
                (Unknown)
            {% endif %}
        </small>
    </div>

    <div class="event-object-container">
        {% set event_object = EventStore.decode(event.data, EventNamespaceName(event.namespace)) %}
        {{ render_struct_table(event_object, 0) }}
    </div>
    

    {{ super() }}
{% endblock %}