{% from '_macros.html' import icon, organization_icon %}

{% macro render_privacy_flag(privacy) %}
    {% set privacy_icon = {
        Privacy.private_implicit: 'eye-slash',
        Privacy.private: 'eye-slash',
        Privacy.unlisted: 'low-vision',
        Privacy.public: 'eye',
    }[privacy] %}
    <span
        rel="tooltip" title="{{ privacy.name }}"
        {% if privacy == Privacy.public %}
            class="faded"
        {% endif %}
    >
        {{- icon(privacy_icon) -}}
    </span>
{% endmacro %}

{% macro render_flags(asset) %}
    <div class="flags">
        {{ render_privacy_flag(asset.privacy) }}
    {% set file = asset.get_primary_image() %}
    <span>
    {% if file %}
        <a
            href="{{ url_for('file.details_view', id=file.id) }}"
            rel="tooltip" title="<img src='{{ file.url_thumbnail }}'>"
        >
            {{- icon("image") -}}
        </a>
    {% else %}
        {{ icon("image", faded=True, tooltip="No image") }}
    {% endif %}
    </span>
    <span>
    {% if asset.get_dumps() %}
        <a href="{{ url_for('asset.details_view', id=asset.id) }}">
            {{- icon("save") -}}
        </a>
    {% else %}
        {{ icon("save", faded=True, tooltip="No dumps") }}
    {% endif %}
    </span>
    
    <span>
    {% if asset.parent %}
        <a
            href="{{ url_for('asset.details_view', id=asset.parent.id) }}"
            rel="tooltip" title="<strong>Parent</strong><br>{{ asset.parent }}"
        >
            {{- icon("jar") -}}
        </a>
    {% else %}
        {{ icon("jar", faded=True, tooltip="No parent") }}
    {% endif %}
    </span>

    <span>
    {% if asset.children %}
        <a
            href="{{ url_for('asset.details_view', id=asset.id) }}"
            rel="tooltip" title="
                {% if asset.children | count == 1 %}
                    <strong>Child</strong><br>
                {% else %}
                    <strong>{{ asset.children | count }} children</strong><br>
                {% endif %}
                {% if asset.children | count <= 5 %}
                    {{ asset.children | join('<br>') }}
                {% endif %}
            "
        >
            {{- icon("shapes") -}}
        </a>
    {% else %}
        {{ icon("shapes", faded=True, tooltip="No children") }}
    {% endif %}
    </span>

    <span>
    {% if asset.contents %}
        <a
            href="{{ url_for('asset.details_view', id=asset.id) }}"
            rel="tooltip" title="
                <strong>{{ asset.contents | count }} contents</strong><br>
                {% if asset.contents | count <= 5 %}
                    {{ asset.contents | join('<br>') }}
                {% endif %}
            "
        >
            {{- icon("cubes") -}}
        </a>
    {% else %}
        {{ icon("cubes", faded=True, tooltip="No contents") }}
    {% endif %}
    </span>

    <span>
    {% for transaction in asset.transactions %}
        <a
            href="{{ url_for('transaction.details_view', id=transaction.id) }}"
            {% if transaction.transaction_type and transaction.transaction_type.value < 0 %}
                style="color: brown;"
            {% endif %}
            style=""
            rel="tooltip" title="
                <strong>Transaction</strong> #{{ transaction.id }}<br>
                {% if transaction.transaction_type %}
                    {{ transaction.transaction_type.name }}<br>
                {% endif %}
                {% if transaction.counterparty_new %}
                    with {{ transaction.counterparty_new.name }}<br>
                {% endif %}
                {% if not transaction.finalized %}
                    (not finalized)<br>
                {% endif %}
                {{ transaction.assets | count }} assets"
        >
            {% if transaction.finalized %}
                {{- icon("handshake") -}}
            {% else %}
                <i class="far fa-handshake"></i>
            {% endif %}
        </a>
    {% endfor %}
    </span>
    </div>
{% endmacro %}

{% macro render_code_column(asset) %}
    {{ organization_icon(asset.organization) }} {{ asset.code_without_organization }}
{% endmacro %}

{% macro render_name_column(asset) %}
    <a href="{{ url_for('asset.details_view', id=asset.id) }}" class="text-link">
        <strong class="asset-category">{{ asset.category.name }}</strong> {{ asset.name }}
    </a>
{% endmacro %}

{% macro new_asset_form(show_category_text=True, parent_id=None, bulk=False) %}
    {# XXX refactor the style out #}
    <style>
        .category-select {
            display: flex;
            margin-left: 12px;
            margin-right: 12px;
        }

        .category-row {
            margin-bottom: 8px;
            display: flex;
        }
        .category-btn {
            width: 100px;
        }
    </style>

    {% set layout = [
            ['game', 'software', 'multimedia', 'rewritable media'],
            ['literature', 'packaging'],
            ['console', 'console accesory'],
            ['computer', 'computer accessory', 'computer component'],
            ['keyboard', 'computer mouse', 'television', 'monitor'],
            ['location', 'other']
        ]
    %}

    {% set shortnames = {
            'rewritable media': 'rw. media',
            'console accesory': 'con. accessory',
            'computer accessory': 'pc accessory',
            'computer component': 'pc component',
            'computer mouse': 'mouse'
        }
    %}

    <div class="category-select">
        {% if show_category_text %}
            <div style="width: 120px; font-weight: bold;">
                Category
            </div>
        {% endif %}
        <div>
            {% for row in layout %}
                <div class="category-row">
                    {% for category in row %}
                        {% set shortname = shortnames.get(category, category) %}
                        <a
                            class="btn category-btn"
                            href="{{ url_for(
                                    '.bulk_create_view' if bulk else '.create_view',
                                    category=category.replace(' ', '_'), parent_id=parent_id
                                ) }}"
                        >
                            {{ shortname.capitalize() }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro save_and_print_button() %}
    <input name="_save_and_print" type="submit" class="btn btn-primary" value="Save and Print Label" />
{% endmacro %}

{% macro render_asset_card(asset) %}
    <div style="width: 268px; max-width: 100%;  padding: 4px; margin: 4px; 
                display: flex; flex-direction: column; justify-content: space-between;">
        {% if not visible_to_current_user(asset) %}
            <div>
                (skrytý předmět)
            </div>
        {% else %}
            <div>
                <strong>{{ organization_icon(asset.organization) }} {{ asset.code_without_organization }}</strong> {{ asset.category.name }}<br>
            </div>
            <div style="border: 2px solid var(--color-secondary); border-radius: 2px;">
                {% set file = asset.get_primary_image() %}
                {% if file %}
                    <a href="{{ url_for('asset.details_view', id=asset.id) }}">
                        {% if file.has_thumbnail %}
                            <img src="{{ file.url_thumbnail }}">
                        {% else %}
                            (Thumbnail missing)
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ url_for('asset.details_view', id=asset.id) }}" class="missing-asset-icon">✱</a>
                {% endif %}
            </div>
            <div style="text-align: center;">
                <a href="{{ url_for('asset.details_view', id=asset.id) }}">
                    {{ asset.name or '???' }}
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}