{% from 'admin/lib.html' import extra with context %} {# backward compatible #}
{% from 'admin/asset/_macros.html' import save_and_print_button %}
{% extends 'admin/model/create.html' %}

{% block navlinks %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar(show_create_bulk=True) }}

    {# XXX this is duplicated in create.html !!! #}
    <style>
        .admin-form input[type="text"], .admin-form textarea, .admin-form .select2-container {
            min-width: 400px;
        }

        .no-hr hr {
            display: none;
        }

        .admin-form textarea[name="name"] {
            height: 200px;
        }
    </style>
{% endblock %}

{% block create_form %}
    {#{{ lib.render_form(form, return_url, save_and_print_button() + extra(), form_opts) }}#}
    {# Inlined to also put the buttons on the top #}
    {% if request.url_rule.endpoint == 'asset.bulk_create_view' %}
        <h2>Bulk create asset</h2>
        <p>Using this form, you can create an arbitrary number of assets at once.  Simply put each name as a new line.  The rest of the data is shared.
    {% endif %}
    {% call lib.form_tag(action=action) %}
        <div class="no-hr">
            {{ lib.render_form_buttons(return_url, save_and_print_button() + extra(), is_modal) }}
        </div>
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ lib.render_form_buttons(return_url, save_and_print_button() + extra(), is_modal) }}
    {% endcall %}
{% endblock %}

{% block tail %}
    {{ super() }}
    {% include "admin/_inline_create.html" %}
{% endblock tail %}