{% extends 'admin/model/details.html' %}

{% from '_macros.html' import organization_icon %}
{% from 'admin/asset/_macros.html' import render_privacy_flag %}

{# XXX https://github.com/flask-admin/flask-admin/blob/master/flask_admin/templates/bootstrap2/admin/model/details.html#L5 #}
{% block navlinks %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar(return_url=url_for('asset.details_view', id=model.id)) }}
{% endblock %}

{% block details_search %}
{% endblock %}

{% block details_table %}
    <style>
        .asset-split {
            display: flex;
        }

        .asset-data {
            flex-grow: 1;
        }

        .asset-images-files {
            flex-basis: 500px;
            padding-left: 12px;
        }
    </style>
    <h2><small>{{ organization_icon(model.organization) }}{{ model.code_without_organization }}</small> {{ model.name }}</h2>
    <div class="asset-split">
        <div class="asset-data">
            {% if admin_view.can_edit %}
                <div style="margin-bottom: 8px;">
                    <!--
                        <a href="{{ url_for('label_asset', asset_id=model.id, small=False) }}" class="btn btn-light">
                            RH label
                        </a>
                    -->
                    <a href="{{ url_for('label_asset', asset_id=model.id, small=False, big=False) }}" class="btn btn-link">
                        Label:
                    </a>
                    {% if current_user.organization.name.lower() == "ucm" %}
                        <a href="rhprint:{{model.id}}-ucm" id="print-label-ucm" class="btn btn-primary">
                            {{ icon("print") }} UCM label
                        </a>
                    {% else %}
                        <a href="rhprint:{{model.id}}" id="print-label" class="btn btn-primary">
                            {{ icon("print") }} RH label
                        </a>
                        <a href="rhprint:{{model.id}}-ha" id="print-label-ha" class="btn btn-primary">
                            {{ icon("print") }} HA label
                        </a>
                        <a href="rhprint:{{model.id}}-small" id="print-label-small" class="btn btn-primary">
                            {{ icon("print") }} small label
                        </a>
                        <a href="rhprint:{{model.id}}-big-ha" id="print-label-big-ha" class="btn btn-primary">
                            {{ icon("print") }} BIG label
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if model.EXPORE_CATEGORY_NUMBER %}
                {{ model.organization.shortname }}{{ model.id }}<br>
            {% endif %}

            {% macro row(key, title=None, pre_line=False) %}
                {% if model[key] %}
                    <tr>
                        <td><strong>{{ title or key.capitalize() }}</strong></td>
                        <td>
                            {% set value = model[key] %}
                            {% if isinstance(value, list) %}
                                {% for subval in value %}
                                    {{ subval -}}
                                    {%- if not loop.last %},{% endif %}
                                {% endfor %}
                            {% else %}
                                <div {% if pre_line %}style="white-space: pre-line;"{% endif %}>
                                    {{ model[key] }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endmacro %}

            <table class="table table-hover table-bordered searchable">
                <tr><td><strong>Organization</strong></td>
                <td>{{ organization_icon(model.organization) }}{{ model.organization }}</td></tr>
                <tr><td><strong>Category</strong></td>
                <td>{{ model.category.name }}</td></tr>
                {{ row('name') }}
                {% if model.companies %}
                    <tr><td><strong>Companies</strong></td>
                    <td>{% for company in model.companies %}
                            <a href="{{ url_for('company.edit_view', id=company.id) }}">
                                {{ company.name }}
                            </a>{% if not loop.last %},{% endif %}
                    {% endfor %}</td></tr>
                {% endif %}
                {{ row('mediums') }}
                {{ row('packaging') }}
                {{ row('hardware_type') }}
                {{ row('location') }}
                {{ row('model') }}
                {{ row('product_codes', 'Product codes') }}
                {{ row('serial') }}
                {% if model.condition_new %}
                    <tr><td><strong>Condition</strong></td>
                    <td>{{ model.condition_new.name }}</td></tr>
                {% endif %}
                {{ row('tags') }}
                <tr>
                    <td><strong>Privacy setting</strong></td>
                    <td>
                        {{ render_privacy_flag(model.privacy) }}
                        {{ model.privacy.name }}
                    </td>
                </tr>
                {{ row('note', pre_line=True) }}
                {% if model.parent %}
                    <tr><td><strong>Parent</strong></td>
                    <td>
                        <a href="{{ url_for('asset.details_view', id=model.parent.id) }}">
                            {{ model.parent }}
                        </a>
                    </td></tr>
                {% endif %}
                {% if model.children %}
                    <tr><td><strong>Children</strong></td>
                    <td>
                        <ul>
                            {% for child in model.children %}
                                <li>
                                    <a href="{{ url_for('asset.details_view', id=child.id) }}">
                                        {{ child }}
                                    </a>
                            {% endfor %}
                        </ul>
                    </td></tr>
                {% endif %}
                {% if model.location %}
                    <tr><td><strong>Location</strong></td>
                    <td>
                        <a href="{{ url_for('asset.details_view', id=model.parent.id) }}">
                            {{ model.location }}
                        </a>
                    </td></tr>
                {% endif %}
                {% if model.category == AssetCategory.location %}
                    <tr><td><strong>Contains</strong></td>
                    <td>
                        <ul>
                            {% for child in model.contains %}
                                <li>
                                    <a href="{{ url_for('asset.details_view', id=child.id) }}">
                                        {{ child }}
                                    </a>
                            {% endfor %}
                        </ul>
                        <details>
                            <summary class="btn-link" style="text-align: center;">
                                Add contents
                            </summary>
                            <form method="POST" action="{{ url_for('asset.add_contents_view') }}">
                                <input type="hidden" name="asset_id" value="{{ model.id }}">
                                <textarea style="width: 80%; height: 80px;" name="id_list">
                                    {#- -#}
                                </textarea>
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </details>
                    </td></tr>
                {% endif %}
                
                </tbody></table>
        </div>
        <div class="asset-images-files">
            <style>
                .asset-image-file {
                    max-width: 220px;
                    border-radius: 2px; padding: 0; margin: 4px;
                    display: flex; flex-direction: column; justify-content: space-between; box-shadow: 0 0 4px #222;
                    position: relative;
                }
                .asset-image-desc {
                    margin: 0 4px 0 4px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: white;
                    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
                }
                .asset-image-desc a {
                    color: lightblue;
                    text-decoration: none;
                }

                .asset-image-file-primary {
                    max-width: calc(100% - 8px);
                    margin: auto;
                    margin-bottom: 8px;
                }
                
                .asset-images {
                    display: flex; width: 100%; flex-wrap: wrap; justify-content: space-evenly;
                    align-items: center;
                }
            </style>
            {% macro render_asset_image(file, primary=False) %}
                {% if file.is_image %}
                    <div class="asset-image-file {% if primary %}asset-image-file-primary{% endif %}">
                        {% if visible_to_current_user(file) %}
                            <div>
                                <a href="{{ url_for('file.details_view', id=file.id) }}">
                                    {% if file.has_thumbnail %}
                                        <img src="{{ file.url_thumbnail }}">
                                    {% else %}
                                        (Thumbnail missing)
                                    {% endif %}
                                </a>
                            </div>
                            <div class="asset-image-desc">
                                {% if admin_view.can_edit %}
                                    <a href="{{ url_for('file.edit_view', id=file.id, url=url_for('asset.details_view', id=model.id)) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                {% endif %}
                                {% if file.primary %}
                                    <span class="fa fa-star"></span>
                                {% endif %}
                                <!--
                                    <a href="{{ url_for('file.details_view', id=file.id) }}">
                                        {{ file.filename }}
                                    </a>
                                -->
                            </div>
                        {% else %}
                            <div class="">
                                (skrytý obrázek)
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endmacro %}
            {% set images = model.get_sorted_images() %}
            {% if images %}
                {{ render_asset_image(images[0], primary=True) }}
                {% set secondary_images = images[1:] %}
                <div class="asset-images">
                    {% for image in secondary_images[0:2] %}
                        {{ render_asset_image(image) }}
                    {% endfor %}
                </div>
                {% set more_secondary_images = secondary_images[2:] %}
                {% if more_secondary_images %}
                    <details>
                        <summary class="btn-link" style="text-align: center;">
                            {{ more_secondary_images | count }} more images
                        </summary>
                        <div class="asset-images">
                            {% for image in more_secondary_images %}
                                {{ render_asset_image(image) }}
                            {% endfor %}
                        </div>
                    </details>
                {% endif %}
            {% endif %}
            <h2>{{ icon("file") }} Files</h2>

            {% if admin_view.can_edit %}
                <div style="margin-bottom: 8px">
                    <strong>Attach</strong>:
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('file.upload_view', id=model.id) }}" style="display: inline;">
                        {{ file_form.files }}
                        {{ file_form.category }}
                        <input type="submit" value="Submit" class="btn btn-primary" style="vertical-align: top;">
                    </form>
                </div>
            {% endif %}

            <table class="table table-hover table-bordered">
                <tr>
                    <th></th>
                    <th>Filename</th>
                    <th>Category</th>
                </tr>
            {% for file in model.files %}
                {% if not file.is_image %}
                    <tr>
                        {% if visible_to_current_user(file) %}
                            <td>
                                <a href="{{ url_for('file.edit_view', id=file.id, url=url_for('asset.details_view', id=model.id)) }}">
                                <span class="fa fa-pencil glyphicon icon-pencil"></span>
                                </a>

                                <a href="{{ url_for('file.details_view', id=file.id) }}">
                                    <span class="fa fa-eye glyphicon icon-eye-open"></span>
                                </a>
                            </td>
                            <td>
                                {% if file.primary %}
                                    <span class="fa fa-eye glyphicon icon-star"></span>
                                {% endif %}
                                <a href="{{ url_for('file.details_view', id=file.id) }}">
                                    {{ file.filename }}
                                </a>
                            </td>
                            <td>{{ file.category.name }}</td>
                        {% else %}
                            <td></td><td>(skrytý soubor)</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>

    <h2>{{ icon("handshake-angle") }} Transaction history</h2>

    {% if current_user.is_authenticated %}
        {% if admin_view.can_create %}
            <div style="margin-bottom: 8px">
                <a href="{{ url_for('transaction.create_view', asset_id=model.id) }}" class="btn btn-primary">
                    {{ icon("plus-circle") }} Add new transaction
                </a>
            </div>
        {% endif %}

        <table class="table table-hover table-bordered">
            <tr>
                <th>Date</th>
                <th>Transaction type</th>
                <th>Note</th>
                <th>Together with</th>
                <th></th>
            </tr>
        {% for transaction in model.transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.transaction_type.name }}</td>
            <td>{{ transaction.note }}</td>
            <td>
                <ul>
                {% for asset in transaction.assets %}
                    <li><a href="{{ url_for('asset.details_view', id=asset.id) }}">{{ asset.name }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {% if admin_view.can_edit %}
                    <a href="{{ url_for('transaction.edit_view', id=transaction.id) }}">
                    <span class="fa fa-pencil glyphicon icon-pencil"></span>
                    </a>
                {% endif %}

                <a href="{{ url_for('transaction.details_view', id=transaction.id) }}">
                    <span class="fa fa-eye glyphicon icon-eye-open"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Historie transakcí vázaných k předmětu je v současnosti dostupná pouze pro přihlášení uživatele.
    {% endif %}


    {% if current_user.is_authenticated %}
        <h2>{{ icon("file-lines") }} Edit Logs</h2>

        <table class="table table-hover table-bordered">
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Event</th>
                <th>Details</th>
            </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.user }}</td>
                <td>{{ log.datetime }}</td>
                <td>{{ log.event }}</td>
                <td>{{ log.object_json }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    <script>
        // If there is a URL argument called "print" with the value "1"
        // TODO this could be done in a cleaner way
        if (window.location.href.indexOf("&print=1") !== -1) {
            document.getElementById("print-label-{{g.current_user_organization_label}}").click();
            // remove the "print" argument from the URL without refreshing the page
            url = window.location.href.replace("&print=1", "");
            window.history.pushState({}, "", url);

        }
    </script>
{% endblock %}