{% extends 'admin/model/edit.html' %}
{% from 'admin/asset/_macros.html' import save_and_print_button %}

{% block navlinks %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}

    {# XXX this is duplicated in create.html !!! #}
    <style>
        .admin-form input[type="text"], .admin-form textarea, .admin-form .select2-container {
            min-width: 400px;
        }
    </style>
{% endblock navlinks %}

{% block tail %}
    {{ super() }}
    {% include "admin/_inline_create.html" %}
{% endblock tail %}

{% block edit_form %}
    {{ lib.render_form(form, return_url, save_and_print_button() + extra(), form_opts) }}
{% endblock edit_form %}