{% extends 'admin/model/list.html' %}
{% from 'admin/asset/list.html' import asset_menu_bar with context %}

{% block model_menu_bar %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}
{% endblock %}

{% block model_list_table %}
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for asset in data %}
            <div style="width: 268px; max-width: 100%; border: 1px solid #bbb; border-radius: 2px; padding: 4px; margin: 4px;
                        display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <strong>{{ asset.id }}</strong> {{ asset.category }}<br>
                </div>
                <div>
                    {% set file = asset.get_primary_image() %}
                    {% if file %}
                        <a href="{{ url_for('asset.details_view', id=asset.id) }}">
                            {% if file.has_thumbnail %}
                                <img src="{{ url_for('files.static', filename=file.filepath_thumbnail) }}">
                            {% else %}
                                (Thumbnail missing)
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{{ url_for('asset.details_view', id=asset.id) }}" style="font-size: 128px; text-align: center; color: #ccc; min-height: 128px; padding-top: 28px; display: flex; align-items: center; justify-content: center; text-decoration: none;">✱</a>
                    {% endif %}
                </div>
                <div>
                    <a href="{{ url_for('asset.details_view', id=asset.id) }}">
                        {{ asset.name or '???' }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% block list_pager %}
    {% if num_pages is not none %}
    {{ lib.pager(page, num_pages, pager_url) }}
    {% else %}
    {{ lib.simple_pager(page, data|length == page_size, pager_url) }}
    {% endif %}
    {% endblock %}
{% endblock %}