{% extends 'admin/model/list.html' %}
{% from 'admin/asset/_macros.html' import render_asset_card %}
{% from 'admin/asset/list.html' import asset_menu_bar with context %}

{% block model_menu_bar %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}
    <div style="margin-left: 10px;">
        <a href="?flt2_43=photo%2Cimage">Show only assets with images</a>
    </div>
{% endblock %}

{% block model_list_table %}
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for asset in data %}
            {{ render_asset_card(asset) }}
        {% endfor %}
    </div>

    {% block list_pager %}
    {% if num_pages is not none %}
    {{ lib.pager(page, num_pages, pager_url) }}
    {% else %}
    {{ lib.simple_pager(page, data|length == page_size, pager_url) }}
    {% endif %}
    {% endblock %}
{% endblock %}