{% extends 'admin/model/list.html' %}

{% block model_menu_bar %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}
{% endblock %}

{% block tail %}
    {{ super() }}
    <style>
        body {
            margin-bottom: 32px;
        }
        .selected {
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 4px;
            padding: 4px;
            border: 1px solid #ccc;
            background: white;
            border-radius: 3px;
            max-width: 50%;
        }

        .selected-buttons {
            text-align: right;
        }
    </style>
    <div id="selected" class="selected">
        <div id="selected-list">
        </div>
        <div class="selected-buttons">
            <button id="selected-clear">Clear</button>
            <button id="selected-show-sheet">Show sheet</button>
            <button id="selected-create-transaction">Create transaction</button>
        </div>
    </div>
    <script>
        var selected = [];
        var checkboxes = Array.from(document.getElementsByClassName("action-checkbox"));

        var selected_local_storage = localStorage.getItem("selected")
        if (selected_local_storage) {
            selected = JSON.parse(selected_local_storage);
        }

        updateCheckboxes();

        function showSelected() {
            localStorage.setItem("selected", JSON.stringify(selected));

            document.getElementById('selected-list').innerHTML = selected.join(', ');
            document.getElementById('selected').style.display = selected.length ? 'block' : 'none';
        }

        function updateSelected() {
            for (var i = 0; i < checkboxes.length; i++) {
                // if checked and not in array
                if (checkboxes[i].value != "on"
                    && checkboxes[i].checked
                    && selected.indexOf(checkboxes[i].value) == -1
                ) {
                    selected.push(checkboxes[i].value);
                }
            }

            selected.sort();

            showSelected();
        }

        function updateCheckboxes() {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selected.indexOf(checkboxes[i].value) != -1;
            }
        }

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', updateSelected);
        }

        let rowtoggleEl = document.querySelectorAll('input.action-rowtoggle')[0];
        rowtoggleEl.addEventListener("click", function(){
            if (rowtoggleEl.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].value == "on") continue;
                    selected.push(checkboxes[i].value);
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].value == "on") continue;
                    // remove checkbox value from selected list
                    selected.splice(selected.indexOf(checkboxes[i].value), 1);
                }
            }
            selected.sort();
            showSelected();
        })

        showSelected();

        document.getElementById("selected-clear").onclick = function() {
            selected = [];
            localStorage.setItem("selected", selected);
            updateCheckboxes();
            showSelected();
        }

        document.getElementById("selected-show-sheet").onclick = function() {
            document.location.href = "{{ get_url('label_assets') }}?asset_ids=" + selected;
        }

        document.getElementById("selected-create-transaction").onclick = function() {
            document.location.href = "{{ get_url('transaction.create_view') }}?asset_id=[" + selected + "]";
        }

        /* Select multiple checkboxes with shift */

        var checkboxes = Array.from(document.querySelectorAll('input[type=checkbox]'));
        var lastChecked = null;

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', function(e) {
                if (!lastChecked) {
                    lastChecked = this;
                    return;
                }

                if (e.shiftKey) {
                    var start = checkboxes.indexOf(this);
                    var end = checkboxes.indexOf(lastChecked);

                    for (var i = Math.min(start,end); i <= Math.max(start,end); i++) {
                        checkboxes[i].checked = lastChecked.checked;
                    }
                }

                lastChecked = this;
            });
        });

    </script>
{% endblock %}