{% extends 'admin/model/list.html' %}

{% from '_macros.html' import icon %}

{% block model_menu_bar %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}
{% endblock %}

{% block tail %}
    {{ super() }}
    <style>
        body {
            margin-bottom: 32px;
        }
        {% if not current_user.write_access %}
            .action-checkbox[name=rowid], .action-rowtoggle[name=rowtoggle] {
                display: none;
            }
            
            .list-buttons-column {
                padding: 0px;
            }
        {% endif %}

        .icon-eye-open {
            display: none;
        }

        form.icon button {
            position: relative; top: -2px;
        }

        .table th, .table td {
            padding: 4px;
        }

        .table td.span1, .table th.span1 {
            width: 2px;
        }
    </style>
    <div id="selected" class="selected">
        <div style="display: flex; align-items: center; gap: 8px">
            <span id="selected-count" style="font-style:italic;"></span>
            <button id="selected-clear" class="btn">{{ icon('broom') }}</button>
            <div id="selected-list">
            </div>
        </div>
        <div class="selected-buttons">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#selected-tab-labels" data-toggle="tab">
                    {{ icon('print') }} Labels
                </a></li>
                <li><a href="#selected-tab-transactions" data-toggle="tab">
                    {{ icon("handshake") }} Transactions
                </a></li>
                <li><a href="#selected-tab-parent" data-toggle="tab">
                    {{ icon("jar") }} Parent
                </a></li>
                <li><a href="#selected-tab-location" data-toggle="tab">
                    {{ icon('cubes') }} Location
                </a></li>
                <li><a href="#selected-tab-tag" data-toggle="tab">
                    {{ icon('tag') }} Tag
                </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="selected-tab-labels">
                    <button id="selected-show-sheet" class="btn">Show sheet</button>
                    <a id="selected-print-labels" href="#" class="btn">Print labels</a>
                </div>
                <div class="tab-pane" id="selected-tab-transactions">
                    <button id="selected-create-transaction" class="btn">Create transaction</button>
                    <form
                        id="selected-add-to-transaction-form"
                        class="input-append"
                        action="{{ get_url('transaction.add_to_view') }}"
                        method="POST"
                    >
                        <input id="selected-add-transaction-id-asset-id" type="hidden" name="asset_id" value="">
                        <input id="selected-add-transaction-id-transaction-id" name="transaction_id" type="text" placeholder="Transaction ID" style="margin: 0; padding: 2px; width: 100px;">
                        <div class="btn-group">
                            <input type="submit" value="Add to transaction" class="btn">
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="selected-tab-parent">
                    <form
                        id="selected-set-parent-bulk-form"
                        class="input-append"
                        action="{{ get_url('asset.set_parent_bulk') }}"
                        method="POST"
                    >
                        {{ icon('jar') }}
                        <input id="selected-set-parent-bulk-asset-id" type="hidden" name="asset_id" value="">
                        <input id="selected-set-parent-bulk-parent-asset-id" name="parent_asset_id" type="text" placeholder="Parent asset ID" >
                        <div class="btn-group">
                            <input type="submit" value="Set parent" class="btn">
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="selected-tab-location">
                    TODO
                </div>
                <div class="tab-pane" id="selected-tab-tag">
                    TODO
                </div>
            </div>
        </div>
    </div>
    <script>
        var selected = [];
        var checkboxes = Array.from(document.getElementsByClassName("action-checkbox"));

        /* Parse list of IDs in the selected URL parameter */
        var urlParams = new URLSearchParams(window.location.search);
        var selectedParam = urlParams.get('selected');

        if (selectedParam) {
            selected = selectedParam.split(',').map(String);
            console.log(selected);
        } else {
            var selected_local_storage = localStorage.getItem("selected")
            if (selected_local_storage) {
                selected = JSON.parse(selected_local_storage);
            }
        }

        updateCheckboxes();

        function showSelected() {
            localStorage.setItem("selected", JSON.stringify(selected));

            document.getElementById('selected-list').innerHTML = selected.join(', ');
            document.getElementById('selected').style.display = selected.length ? 'block' : 'none';
            document.getElementById('selected-count').innerHTML = selected.length;

            let reversed_selected = selected.slice().reverse();
            document.getElementById("selected-print-labels").href = "rhprint:" + reversed_selected.map(asset_id => asset_id + "-{{g.current_user_organization_label}}").join(";");
        }

        function updateSelected() {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].value == 'on') {
                    selected.splice(selected.indexOf(checkboxes[i].value), 1);
                }
                // if checked and not in array
                if (
                    checkboxes[i].checked
                    && selected.indexOf(checkboxes[i].value) == -1
                ) {
                    selected.push(checkboxes[i].value);
                } else if (
                    !checkboxes[i].checked
                    && selected.indexOf(checkboxes[i].value) != -1
                ) {
                    // remove checkbox value from selected list
                    selected.splice(selected.indexOf(checkboxes[i].value), 1);
                }
            }

            selected.sort();

            showSelected();
        }

        function updateCheckboxes() {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selected.indexOf(checkboxes[i].value) != -1;
            }
        }

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', updateSelected);
        }

        let rowtoggleEl = document.querySelectorAll('input.action-rowtoggle')[0];
        rowtoggleEl.addEventListener("click", function(){
            if (rowtoggleEl.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(checkboxes[i]);
                    selected.push(checkboxes[i].value);
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    // remove checkbox value from selected list
                    selected.splice(selected.indexOf(checkboxes[i].value), 1);
                }
            }
            selected.sort();
            showSelected();
        })

        showSelected();

        document.getElementById("selected-clear").onclick = function() {
            selected = [];
            localStorage.setItem("selected", selected);
            updateCheckboxes();
            showSelected();
        }

        document.getElementById("selected-show-sheet").onclick = function() {
            localStorage.setItem("selected", "[]");
            document.location.href = "{{ get_url('label_assets') }}?asset_ids=" + selected;
        }

        document.getElementById("selected-create-transaction").onclick = function() {
            localStorage.setItem("selected", "[]");
            document.location.href = "{{ get_url('transaction.create_view') }}?asset_id=[" + selected + "]";
        }

        document.getElementById("selected-add-to-transaction-form").addEventListener('submit', function(event) {
            var transaction_id = document.getElementById("selected-add-transaction-id-transaction-id").value;
            if (transaction_id == "") {
                alert("Transaction ID is required");
                event.preventDefault()
                return false;
            }

            document.getElementById("selected-add-transaction-id-asset-id").value = selected;
        })

        document.getElementById("selected-set-parent-bulk-form").addEventListener('submit', function(event) {
            var transaction_id = document.getElementById("selected-set-parent-bulk-parent-asset-id").value;
            if (transaction_id == "") {
                alert("Parent asset ID is required");
                event.preventDefault()
                return false;
            }

            document.getElementById("selected-set-parent-bulk-asset-id").value = selected;
        })

        /* Select multiple checkboxes with shift */

        var lastChecked = null;

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', function(e) {
                if (!lastChecked) {
                    lastChecked = this;
                    return;
                }

                if (e.shiftKey) {
                    var start = checkboxes.indexOf(this);
                    var end = checkboxes.indexOf(lastChecked);

                    for (var i = Math.min(start,end); i <= Math.max(start,end); i++) {
                        checkboxes[i].checked = lastChecked.checked;
                    }
                }

                lastChecked = this;
            });
        });


    </script>
{% endblock %}