{% from '_macros.html' import organization_icon %}
{% from 'admin/asset/_macros.html' import new_asset_form %}

{# XXX https://github.com/flask-admin/flask-admin/blob/master/flask_admin/templates/bootstrap2/admin/model/list.html#L14 #}
{% macro asset_menu_bar(return_url=None, show_create_bulk=False) %}
    <style>
        .actions-nav {
            display: flex;
            flex-wrap: wrap;
        }
        .spacer {
            flex-grow: 1;
        }
    </style>
    <ul class="nav nav-tabs actions-nav">
        <li style="margin-top: 8px; margin-right: 4px;">
            {% if count %}({{ count }}){% endif %}
        </li>
        <li class="{{ 'active' if request.url_rule.endpoint == 'asset.index_view' else '' }}">
            <a href="{{ get_url('.index_view') }}">
                {{ icon("list") }} {{ _gettext('List') }}
            </a>
        </li>

        <li class="{{ 'active' if request.url_rule.endpoint == 'asset.gallery_view' else '' }}">
            <a href="{{ get_url('.gallery_view') }}">
                {{ icon("grip") }} Gallery
                </a>
        </li>

        {%- if admin_view.can_edit -%}
            <li class="dropdown">
                <a  {#href="{{ get_url('.bulk_new_view') }}"#} href="javascript:void(0)"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                >
                    More
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="{{ 'active' if request.url_rule.endpoint == 'asset.map_view' else '' }}">
                        <a href="{{ get_url('.map_view') }}">
                            {{ icon("map") }} Photo matrix
                            </a>
                    </li>
                    <li class="{{ 'active' if request.url_rule.endpoint == 'asset.publicize_view' else '' }}">
                        <a href="{{ get_url('.publicize_view') }}">
                            {{ icon("eye") }} Publicize!
                            </a>
                    </li>
                </ul>
            </li>
        {%- endif -%}

        {% if admin_view.can_create %}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.create_view' else '' }} dropdown">
                {#{%- if admin_view.create_modal -%}
                    {{ lib.add_modal_button(url=get_url('.create_view', modal=True), title=_gettext('Create New Record'), content=_gettext('Create')) }}
                {% else %}#}
                    <a  {#href="{{ get_url('.new_view') }}"#} href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        {{ icon("circle-plus") }} {{ _gettext('Create') }}
                        <b class="caret"></b>
                    </a>
                {#{%- endif -%}#}
                    <ul class="dropdown-menu field-filters">
                        {{ new_asset_form(show_category_text=False) }}
                    </ul>
            </li>
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.bulk_create_view' else '' }} dropdown">
                {#{%- if admin_view.create_modal -%}
                    {{ lib.add_modal_button(url=get_url('.create_view', modal=True), title=_gettext('Create New Record'), content=_gettext('Create')) }}
                {% else %}#}
                    <a  {#href="{{ get_url('.bulk_new_view') }}"#} href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        {{ icon("circle-plus") }} Bulk create
                        <b class="caret"></b>
                    </a>
                {#{%- endif -%}#}
                    <ul class="dropdown-menu field-filters">
                        {{ new_asset_form(show_category_text=False, bulk=True) }}
                    </ul>
            </li>
            {% if model %}
                <li>
                    <a href="{{ get_url('.create_view', category=model.category.name) }}">
                        {{ icon("circle-plus") }} Create <strong>{{ model.category.name }}</strong>
                    </a>
                </li>
                <li class="dropdown">
                    <a  {#href="{{ get_url('.new_view') }}"#} href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        {{ icon("circle-plus") }} Create child
                        <b class="caret"></b>
                    </a>
                {#{%- endif -%}#}
                    <ul class="dropdown-menu field-filters">
                        {{ new_asset_form(show_category_text=False, parent_id=model.id) }}
                    </ul>
                </li>
            {% endif %}
        {% endif %}

        {% if request.url_rule.endpoint in ('asset.index_view', 'asset.gallery_view') %}
            {% if admin_view.can_export %}
                {{ model_layout.export_options() }}
            {% endif %}

            {% block model_menu_bar_before_filters %}{% endblock %}

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    Common Filters<b class="caret"></b>
                </a>
                <ul class="dropdown-menu field-filters">
                    <li>
                        <a href="{{ url_for_here(flt1_7='game') }}">Games</a>
                    </li>
                    <li>
                        <a href="{{ url_for_here(flt2_10='software,multimedia') }}">Software and multimedia</a>
                    </li>
                    <li>
                        <a href="{{ url_for_here(flt2_10='console,computer') }}">Consoles and computers</a>
                    </li>
                    {% for organization in g.organizations %}
                        <li>
                            <a href="{{ url_for_here(flt1_0=organization.name) }}">From {{ organization_icon(organization) }} {{ organization }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ url_for_here(flt2_43='photo,image') }}">With images</a>
                    </li>

                </ul>
            </li>

            {% if filters %}
            <li class="dropdown">
                {{ model_layout.filter_options() }}
            </li>
            {% endif %}

            {% if can_set_page_size %}
            <li class="dropdown">
                {{ model_layout.page_size_form(page_size_url) }}
            </li>
            {% endif %}

            {#
            {% if actions %}
            <li class="dropdown">
                {{ actionlib.dropdown(actions) }}
            </li>
            {% endif %}
            #}
            {% if search_supported %}
            <li style="margin-left: auto;">
                {{ model_layout.search_form() }}
            </li>
            {% endif %}
            {% block model_menu_bar_after_filters %}{% endblock %}
        {% elif request.url_rule.endpoint != 'asset.create_view' %}
            <li class="spacer">
            </li>
            {%- if admin_view.can_edit -%}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.edit_view' else '' }}">
                <a href="{{ get_url('.edit_view', id=model.id, url=return_url) }}">
                    {{ icon("edit") }} {{ _gettext('Edit') }}
                </a>
            </li>
            {%- endif -%}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.details_view' else '' }}">
                <a href="{{ model.url }}">
                    {{ icon("eye") }} {{ _gettext('Details') }}
                </a>
            </li>
        {% endif %}

    </ul>
    {% if request.url_rule.endpoint in ('asset.create_view', 'asset.edit_view') %}
        <div style="height: 12px;"></div>
    {% endif %}
{% endmacro %}