
{# XXX https://github.com/flask-admin/flask-admin/blob/master/flask_admin/templates/bootstrap2/admin/model/list.html#L14 #}
{% macro asset_menu_bar(return_url=None) %}
    <style>
        .actions-nav {
            display: flex;
            flex-wrap: wrap;
        }
        .spacer {
            flex-grow: 1;
        }
    </style>
    <ul class="nav nav-tabs actions-nav">
        <li style="margin-top: 8px; margin-right: 4px;">
            {% if count %}({{ count }}){% endif %}
        </li>
        <li class="{{ 'active' if request.url_rule.endpoint == 'asset.index_view' else '' }}">
            <a href="{{ get_url('.index_view') }}">
                {{ icon("list") }} {{ _gettext('List') }}
            </a>
        </li>

        <li class="{{ 'active' if request.url_rule.endpoint == 'asset.gallery_view' else '' }}">
            <a href="{{ get_url('.gallery_view') }}">
                {{ icon("grip") }} Gallery
                </a>
        </li>

        {% if admin_view.can_create %}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.create_view' else '' }}">
                {%- if admin_view.create_modal -%}
                    {{ lib.add_modal_button(url=get_url('.create_view', modal=True), title=_gettext('Create New Record'), content=_gettext('Create')) }}
                {% else %}
                    <a href="{{ get_url('.create_view') }}" title="{{ _gettext('Create New Record') }}">
                        {{ icon("circle-plus") }} {{ _gettext('Create') }}
                    </a>
            {%- endif -%}
            </li>
            {% if model %}
                <li>
                    <a href="{{ get_url('.create_view', category_id=model.category.id) }}">
                        {{ icon("circle-plus") }} Create <strong>{{ model.category }}</strong>
                    </a>
                </li>
                <li>
                    <a href="{{ get_url('.create_view', parent_id=model.id, category_id=model.category.id) }}">
                        {{ icon("circle-plus") }} Create child <strong>{{ model.category }}</strong>
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% if request.url_rule.endpoint in ('asset.index_view', 'asset.gallery_view') %}
            {% if admin_view.can_export %}
                {{ model_layout.export_options() }}
            {% endif %}

            {% block model_menu_bar_before_filters %}{% endblock %}

            {% if filters %}
            <li class="dropdown">
                {{ model_layout.filter_options() }}
            </li>
            {% endif %}

            {% if can_set_page_size %}
            <li class="dropdown">
                {{ model_layout.page_size_form(page_size_url) }}
            </li>
            {% endif %}

            {% if actions %}
            <li class="dropdown">
                {{ actionlib.dropdown(actions) }}
            </li>
            {% endif %}

            {% if search_supported %}
            <li>
                {{ model_layout.search_form() }}
            </li>
            {% endif %}
            {% block model_menu_bar_after_filters %}{% endblock %}
        {% elif request.url_rule.endpoint != 'asset.create_view' %}
            <li class="spacer">
            </li>
            {%- if admin_view.can_edit -%}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.edit_view' else '' }}">
                <a href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">
                    {{ icon("edit") }} {{ _gettext('Edit') }}
                </a>
            </li>
            {%- endif -%}
            <li class="{{ 'active' if request.url_rule.endpoint == 'asset.details_view' else '' }}">
                <a href="{{ get_url('.details_view', id=request.args.get('id')) }}">
                    {{ icon("eye") }} {{ _gettext('Details') }}
                </a>
            </li>
        {% endif %}

    </ul>
    {% if request.url_rule.endpoint in ('asset.create_view', 'asset.edit_view') %}
        <div style="height: 12px;"></div>
    {% endif %}
{% endmacro %}