{% extends 'admin/model/details.html' %}

{% block body %}
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}

    <style>
        .category-select {
            display: flex;
            margin-left: 12px;
        }

        .category-row {
            margin-bottom: 8px;
        }
        .category-btn {
            width: 100px;
        }
    </style>

    <h2>New asset</h2>

    {% set layout = [
            ['game', 'software', 'multimedia', 'rewritable media', 'literature'],
            ['console', 'console accessory'],
            ['computer', 'computer accessory', 'computer component'],
            ['keyboard', 'computer mouse', 'television', 'monitor'],
            ['location', 'other']
        ]
    %}

    <div class="category-select">
        <div style="width: 120px; font-weight: bold;">
            Category
        </div>
        <div>
            {% for row in layout %}
                <div class="category-row">
                    {% for category in row %}
                        <a
                            class="btn category-btn"
                            href="{{ get_url('.create_view', category=category.replace(' ', '_')) }}"
                        >
                            {{ category.split()[-1].capitalize() }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}