{% extends 'admin/model/details.html' %}

{% from 'admin/asset/_macros.html' import new_asset_form %}

{% block body %}
    <style>
        .assets {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .asset-row {
            border: 2px solid var(--color-secondary);
            padding: 4px;
            display: flex;
            gap: 4px;
            flex-wrap: wrap;
            align-items: center;
        }

        .asset-row:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        .btn.btn-public.active:hover, .btn.btn-private.active:hover,
        .btn.btn-public.active:focus, .btn.btn-private.active:focus {
            color: #444;
        }

        .asset-row .btn.btn-public.active {
            background: rgb(98, 255, 95) !important;
        }
        .asset-row .btn.btn-private.active {
            background: rgb(255, 116, 95) !important;
        }
    </style>
    {% from 'admin/asset/menu_bar.html' import asset_menu_bar with context %}
    {{ asset_menu_bar() }}

    <h2><em>Publicize!</em></h2>
    <p>
        Using this interface, judge whether the following {{ assets | count }} assets and their photos should be displayed publicly or not.
    </p>
    <p>
        Note: This currently doesn't show dumps, so don't put any "pesonal" floppies or cassettes that you don't know the contents of.
    </p>
    <p>
        Total unjudged assets:
        {{ private_implicit_count }} / {{ all_assets_count }}
        (<strong>{{ "{:3.1f}".format((private_implicit_count / all_assets_count)*100) }}%</strong>)
    </p>
    
    {% macro render_privacy_buttons(name, id, value, small) %}
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" name="{{ name }}-{{id}}-public"
                class="btn btn-secondary btn-public {% if small %}btn-small{% endif %}
                    {% if value == Privacy.public %} active {% endif %}" 
                data-value="public">
                {% if small %}
                    {{ icon('eye') }}
                {% else %}
                    Public
                {% endif %}
            </button>
            <button type="button" name="{{ name }}-{{id}}-default"
                class="btn btn-secondary btn-default {% if small %}btn-small{% endif %}
                    {% if value == Privacy.private_implicit %} active {% endif %}" 
                data-value="default">
                    &nbsp;
            </button>
            <button type="button" name="{{ name }}-{{id}}-private" 
                class="btn btn-secondary btn-private {% if small %}btn-small{% endif %}
                    {% if value == Privacy.private %} active {% endif %}" 
                data-value="private">
                {% if small %}
                    {{ icon('eye-slash') }}
                {% else %}
                    Private
                {% endif %}
            </button>
        </div>
    {% endmacro %}

    <form method="POST">
        <div class="assets">
            <div class="asset-row">
                <div class="btn-group">
                    <button type="button"
                        class="btn btn-secondary btn-public btn-setall" data-value="public">
                            Public
                    </button>
                    <button type="button"
                        class="btn btn-secondary btn-setall" 
                        data-value="default">
                            &nbsp;
                    </button>
                    <button type="button"
                        class="btn btn-secondary btn-private btn-setall"
                        data-value="private">
                            Private
                    </button>
                </div>
                <div>
                    <strong>Set all to this value</strong>
                </div>
            </div>
            {% for asset in assets %}
                <div class="asset-row">
                    {{ render_privacy_buttons('asset', asset.id, asset.privacy, False) }}
                    <div style="flex-grow: 1;">
                        <div>
                            {{ asset.code }} <strong class="asset-category">{{ asset.category.name }}</strong>
                            <br>
                            <span style="font-size: 24px;">
                                <a href="{{ asset.url }}">{{ asset.name }}</a>
                            </span>
                        </div>
                        <div style="display: flex; flex-wrap: wrap; gap: 4px;">
                            {% set images = asset.get_sorted_images() %}
                            {% for file in images %}
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    {{ render_privacy_buttons('file', file.id, file.privacy, True) }}
                                    <a href="{{ url_for('file.details_view', id=file.id) }}" style="display: block; width: 100px; height: 100px;">
                                        {% if file.has_thumbnail %}
                                            <img src="{{ file.url_thumbnail }}" class="publicize-thumb">
                                        {% else %}
                                            (Thumbnail missing)
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div style="margin: 32px 16px 128px 16px; text-align: center;">
            <input name="_publicize" type="submit" class="btn btn-large btn-success" value="Publicize all except private">
            <input name="_save" type="submit" class="btn btn-large btn-primary" value="Save">
            <input name="_skip" type="submit" class="btn btn-large btn-secondary" value="Skip">
        </div>
    </form>
    <script>
        document.querySelectorAll('.btn-setall').forEach(
            button => button.addEventListener('click', function() {
                let value = this.dataset.value;
                document.querySelectorAll(`.btn:not(.btn-small)`).forEach(button => {
                    button.classList.remove('active');
                });
                document.querySelectorAll(`.btn-${value}:not(.btn-small)`).forEach(button => {
                    button.classList.add('active');
                });
            })
        )

        /* Thanks GPT-4! */
        document.querySelector('form').addEventListener('submit', function(event) {
            let form = event.target;
            let buttonGroups = form.querySelectorAll('.btn-group');
            
            // Remove any old hidden fields to avoid duplications
            let oldHiddenFields = form.querySelectorAll('.hiddenField');
            oldHiddenFields.forEach(field => form.removeChild(field));
            
            buttonGroups.forEach(group => {
                let fieldName = group.querySelector('.btn.active').name.split('-')[0];
                let id = group.querySelector('.btn.active').name.split('-')[1];
                let value = group.querySelector('.btn.active').dataset.value;

                // Create new, hidden form input to hold the button's value
                let field = document.createElement('input');
                field.type = 'hidden';
                field.name = `${fieldName}-${id}`;
                field.value = value;
                field.className = 'hiddenField';  // class added to aid in removal prior to submit

                // Append new input to the form
                form.appendChild(field);
            });

            // Form will now submit with this new input
        }, false);

    </script>
{% endblock %}