ul.rating-field li { list-style-type: none; display: inline; margin-right: 1em; }
ul.rating-field label { display: inline; }

.upload_result_thumb {
  height: 46px; margin: auto; display: block;
  transition: transform .2s;
  transform-origin: bottom right;
}

.upload_result_thumb:hover {
  position: relative;
  transform: scale(6, 6);
}

.publicize-thumb {
  margin: auto; display: block;
  transition: transform .2s;
  transform-origin: top center;
  z-index: 100;
}

.publicize-thumb:hover {
  position: relative;
  transform: scale(6, 6);
}

.btn.htmx-request {
    background: linear-gradient(225deg, #00abab, #00daab, #dd00ab, #abe400, #d9ab00);
    background-size: 300% 300%;
    animation: cycle 1s ease infinite;
}

.btn {
    border: 1px solid var(--color-secondary);
    background: transparent;
    color: var(--color-text);
    text-shadow: none;
}

.btn:hover, .btn:focus, .btn:active {
    background: var(--color-secondary);
    color: white;
}


.btn-primary {
    border: 1px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
    text-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--color-primary);
    color: white;
}



.btn-danger {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: white;
  text-shadow: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: var(--color-bg);
  color: var(--color-text);
}

@keyframes cycle {
    0% {
      background-position: 94% 0%; }
    50% {
      background-position: 7% 100%; }
    100% {
      background-position: 94% 0%; } }

/* HA STYLES */

:root {
  --color-bg: #f3f2e7;
  --color-text: #000;
  --color-primary: #ef4d37;
  --color-secondary: #b5a26d;
  --max-width: 1400px
}

body {
  background-color: var(--color-bg);
  font-family: Barlow, sans-serif;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

a.text-link {
  color: var(--color-text);
}
a.text-link:hover {
  color: var(--color-primary);
  text-decoration: none;
}

/* START HA HEADER */

header.ha-header {
  /* max-width: var(--max-width); */
  max-width: 1200px;
  display: flex;
  margin: 24px auto 24px auto;
  padding: 0 12px;
}

header.ha-header .halinks {
  margin: auto 0 auto auto;
  list-style: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

header.ha-header .halinks li {
  padding: 0 24px;
  border-right: 1px solid var(--color-secondary);
}

header.ha-header .halinks li:last-child {
  border-right: none;
}

header.ha-header .halinks a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

header.ha-header .halinks a.active {
  font-weight: bold;
}

header.ha-header .halinks a:hover {
  text-decoration: underline;
}

header.ha-header .logo {
  display: block;
  width: 128px;
  margin-right: 12px;
  flex-shrink: 0;
}

/* END HA HEADER */

.navbar .navbar-inner {
  background: inherit;
  border: 2px solid var(--color-secondary);
  border-width: 0 0 2px 0;
  border-radius: 0;
  box-shadow: none;
}

.navbar .nav > li > a, .navbar .nav > .active > a {
  color: var(--color-text);
}

.navbar .nav > li > a:hover, .navbar .nav > .active > a:hover {
  color: var(--color-primary);
  background-color: inherit;
  box-shadow: inherit;
}

.navbar .nav > .active > a {
  background: inherit;
  /*border: 2px solid var(--color-primary);
  border-width: 2px 2px 2px 2px;*/
  font-weight: bold;
  box-shadow: none;
}

.nav-tabs a {
  color: var(--color-text);
}
.nav .dropdown-toggle .caret {
    border-top-color: var(--color-text); border-bottom-color: var(--color-text);
}

.nav-tabs {
  border-bottom: 1px solid var(--color-secondary);
}

.nav-tabs > .active > a {
  font-weight: bold;
  /* border: 2px solid var(--color-primary); */
  border: 1px solid transparent;
  background: inherit;
  color: var(--color-text);
}

.nav-tabs > li > a:hover {
  color: var(--color-primary);
  background: inherit;
  border: 1px solid transparent;
}

.nav-tabs > .active > a:hover {
  /* border: 2px solid var(--color-primary); */
  border: 1px solid transparent;
  background: inherit;
  color: var(--color-text);
  cursor: pointer;
}

.table {
  border: 0;
}

.table tr td, .table tr th {
  border: 0;
  border-bottom: 1px solid var(--color-secondary);
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: inherit;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: rgba(0, 0, 0, 0.05);
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-indent: 4%;
}

.missing-asset-icon {
  font-size: 128px;
  text-align: center;
  color: var(--color-secondary);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.organization-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}

h2 small .organization-icon {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

hr {
  border-color: var(--color-secondary);
  border-style: solid;
}
