
/* HA STYLES */

:root {
  --color-bg: #f3f2e7;
  --color-text: #000;
  --color-primary: #ef4d37;
  --color-secondary: #b5a26d;
  --max-width: 1400px;

  --tblr-body-bg: var(--color-bg);
  --tblr-border-color: var(--color-secondary);
}

body {
  background-color: var(--color-bg);
  font-family: Barlow, sans-serif;
  font-size: 110%;
}

a, a:hover {
  color: var(--color-primary);
}
/* START HA HEADER */

header.ha-header {
  /* max-width: var(--max-width); */
  max-width: 1200px;
  display: flex;
  margin: 24px auto 24px auto;
  padding: 0 12px;
}

header.ha-header .halinks {
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

header.ha-header .halinks li {
  padding: 0 29px;
  border-right: 1px solid var(--color-secondary);
}

header.ha-header .halinks li:last-child {
  border-right: none;
}

header.ha-header .halinks a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

header.ha-header .halinks a.active {
  font-weight: bold;
}

header.ha-header .halinks a:hover {
  text-decoration: underline;
}

header.ha-header .logo {
  display: block;
  width: 128px;
  margin-right: 12px;
  flex-shrink: 0;
}

/* END HA HEADER */


.status-have {
  height: 25px; width: 25px; background-color: green; border-radius: 50%; display: inline-block;
  border: 1px solid black;
}
.status-dont-have {
  height: 25px; width: 25px; background-color: red; border-radius: 50%; display: inline-block;
  border: 1px solid black;
}
.status-problems {
  height: 25px; width: 25px; background-color: yellow; border-radius: 50%; display: inline-block;
  border: 1px solid black;
}
.status-existance-unconfirmed {
  height: 25px; width: 25px; background-color: orange; border-radius: 50%; display: inline-block;
  border: 1px solid black;
}

.img-thumbnail {
  max-height: 220px;
}