{% extends "magdb/base.html" %}

{% block content %}
    <div class="row row-deck row-cards">
        {% for magazine in magazines %}
            <div class="col-sm-6 col-lg-3">
                <div class="card" style="height: 20x0px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <a href="{{ url_for(".magazine_detail", magazine_id=magazine.id) }}">
                                <div class="subheader">{{ magazine.title }}</div>
                                {% set logos = magazine.get_logos() %}
                                {% if logos %}
                                    {% for logo in logos %}
                                        <img src="{{ url_for('files.static', filename=logo.file.filepath) }}" class="card-img">
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}