{% extends 'admin/model/details.html' %}

{% block details_table %}
    <link href="/admin/static/vendor/select2/select2.css?v=3.5.2" rel="stylesheet">
    
    
    <h2>File: {{ model.filepath }}</h2>

    {% if model.is_deleted %}
        <div class="alert alert-danger">
            This file has been deleted.
        </div>
    {% endif %}

    <div style="margin: 8px 0 8px 0; display: flex; justify-content: space-between;">
        <div>
            {% if model.has_thumbnail and not model.thumbnail_file_exists() %}
                <div class="text-error">
                    File has thumbnail entry in DB, but file is missing!
                </div>
            {% endif %}
            <a href="{{ model.url }}" class="btn btn-secondary">Download</a>
            {% if model.is_image %}
                {% if model.has_thumbnail and model.thumbnail_file_exists() %}
                    <a href="{{ model.url_thumbnail }}" class="btn btn-secondary">Thumbnail</a>
                {% else %}
                    <form method="POST" action="{{ url_for('file.make_thumbnail_view', id=model.id) }}" style="display: inline;">
                        <input type="submit" value="Make thumbnail" class="btn btn-primary">
                    </form>
                {% endif %}
            {% endif %}
            <form method="POST" action="" style="display: inline;">
                {{ file_assign_form.asset(style='margin-bottom: 0px; width: 400px;') }}
                <input type="submit" value="
                    {%- if not model.asset -%}
                        Assign
                    {%- else -%}
                        Re-assign
                    {%- endif -%}
                " class="btn btn-primary">
            </form>
        </div>
        <div>
            {% if model.is_image %}
                {% for rotation, icon in [('270', '↶'), ('0', '↓'), ('90', '↷'), ('180', '180°')] %}
                    <form method="POST" action="{{ url_for('file.rotate_view', id=model.id, rotation=rotation) }}" style="display: inline;">
                        <input type="submit" value="{{ icon }}" class="btn btn-primary">
                    </form>
                {% endfor %}
            {% endif %}
            <form method="POST" action="{{ url_for('file.delete_view', id=model.id) }}" style="display: inline;">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
    {% if model.is_image and not model.is_deleted %}
        <img src="{{ model.url}}" style="margin-bottom: 8px;">
        {% set barcodes = model.read_barcodes() %}
        {% if barcodes %}
            <h3>Decoded barcodes</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Data</th>
                    </tr>
                </thead>
                {% for barcode in barcodes %}
                    <tr>
                        <td>
                            {{ barcode.type }}
                        </td>
                        <td>
                            <tt>{{ barcode.data.decode('utf-8') }}</tt>
                            {% if barcode.data.decode('utf-8').startswith('RH') %}
                                <form method="POST" action="{{ url_for('file.auto_assign_view', id=model.id) }}" style="display: inline;">
                                    <input type="submit" value="Auto assign" class="btn btn-primary">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    <h3>Metadata</h3>
    {% macro row(key, title=None) %}
        {% if model[key] %}
            <tr>
                <td><strong>{{ title or key.capitalize() }}</strong></td>
                <td style="white-space: pre-line;">{{ model[key] }}</td>
            </tr>
        {% endif %}
    {% endmacro %}

    <table class="table table-hover table-bordered searchable">
        <tr>
            <td><strong>Asset</strong></td>
            <td>
                {% if model.asset %}
                    <a href="{{ url_for('asset.details_view', id=model.asset.id) }}">{{ model.asset }}</a>
                {% else %} - {% endif %}
            </td>
        </tr>
        {{ row('category') }}
        {{ row('filepath') }}
        {{ row('primary') }}
        {{ row('title') }}
        {{ row('privacy') }}
        {{ row('comment') }}
        {% if model.md5 %}
            <tr>
                <td><strong>MD5</strong></td>
                <td>
                    {{ model.md5.hex() }}
                </td>
            </tr>
        {% endif %}
        {% if model.original_md5 %}
            <tr>
                <td><strong>Original MD5</strong></td>
                <td>
                    {{ model.original_md5.hex() }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td><strong>Uploader</strong></td>
            <td>
                {{ model.user }} on {{ model.upload_date }}
                {% if model.batch_number %}
                    -
                    <a href="{{ url_for('file.upload_result_view', batch_number=model.batch_number) }}">
                        batch number {{ model.batch_number }}
                    </a>
                {% endif %}
            </td>
        </tr>
        
        </tbody></table>


{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
