{% extends 'admin/master.html' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('.details_view') }}">{{ _gettext('List') }}</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">Upload</a>
        </li>
    </ul>

    <p>This is the workflow for file/image upload:
    <p><strong>Upload</strong> → <strong>Processing</strong> → <strong>Review</strong>
    <p>To <strong>upload</strong> files, you may use the form below.  It is recommended to upload in batches of at most approximately 200 images at once.
    <p>After uploading, images get <strong>processed</strong>, which means thumbnails get made and barcodes get read.  Duplicate uploads get discarded in this step.
    <p>Finally, processed images should be <strong>reviewed</strong>, since barcode assignment can fail in ~20% of cases.  The interface also allows for simple image rotation.

    <hr>

    <form id="upload-form" method="POST" enctype="multipart/form-data" action="" class="admin-form form-horizontal">
        {% if form.errors %}
            <div class="text-error">
                Form errors: {{ form.errors }}
            </div>
        {% endif %}
        {% for control in form %}
            <div class="control-group">
                <div class="control-label">{{ control.label }}</div>
                <div class="controls">{{ control }}</div>
            </div>
        {% endfor %}
        <input id="upload-form-submit" type="submit" value="Submit" class="btn btn-primary" style="vertical-align: top;">
        <progress id="progress" value="0" max="100"></progress>
        <span id="progressText"></span>
    </form>

    <ul id="file-list">
    </ul>

    <script>
        // execute logic on DOM loaded
        document.addEventListener("DOMContentLoaded", () => {

            // retrieve important DOM elements
            const fileUploadElem = document.querySelector("input#files")
            const formElem = document.querySelector("form#upload-form")

            sliceBy = 3;

            formElem.addEventListener("submit", (event) => {
                // prevent normal form submit behavior 
                event.preventDefault()

                formElem.querySelector('input[type=submit]').disabled = true

                window.onbeforeunload = function() {
                    return "Upload in progress, are you sure you want to navigate away?";
                }

                const uploadPromises = []

                uploadedCount = 0;
                totalFileCount = fileUploadElem.files.length;
                fail = false;

                fileIds = [];
                duplicateFiles = [];

                fileSlices = [];

                for (let i=0; i < Math.ceil(totalFileCount / sliceBy); i++) {
                    fileSlices.push(Array.from(fileUploadElem.files).slice(i*sliceBy, (i+1)*sliceBy));
                }

                function uploadSlice() {
                    if (fileSlices.length) {
                        fileSlice = fileSlices.shift();
                        
                        // create FormData object - add file and form fields manually
                        const formData = new FormData()
                        fileSlice.forEach((file) => {
                            formData.append('files', file)
                        })
                        formData.append('category', formElem.querySelector('#category').value)
                        formData.append('auto_assign', formElem.querySelector('#auto_assign').checked)
                        formData.append('batch_number', formElem.querySelector('#batch_number').value)
                        formData.append('xhr', true)
                        
                        // dispatch xhr to start file upload - detect file upload completion and notify user
                        let xhr = new XMLHttpRequest()
                        xhr.onload = () => {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                response = JSON.parse(xhr.responseText);
                                fileIds = fileIds.concat(response['files']);
                                duplicateFiles = duplicateFiles.concat(response['duplicate_files']);

                                uploadedCount += response['num_files'];
                                document.querySelector("#progress").setAttribute("value", (uploadedCount / totalFileCount * 100) )
                                document.querySelector("#progressText").innerHTML = uploadedCount + "/" + totalFileCount

                                uploadSlice()
                            } else {
                                fail = true;
                            }
                        }
                        
                        // initiate AJAX request
                        xhr.open("POST", formElem.action)

                        xhr.upload.onprogress = (e) => {
                            console.log('progr', e.lengthComputable, e.loaded, e.total)
                            document.querySelector("#progress").setAttribute("value", ((uploadedCount + (e.loaded / e.total) * sliceBy) / totalFileCount) * 100)
                        }

                        xhr.send(formData)
                    } else {
                        // we're done
                        window.location.href='{{ url_for("file.upload_result_view") }}'
                            + '?files=' + JSON.stringify(fileIds)
                            + '&duplicate_files=' + JSON.stringify(duplicateFiles)
                            + '&auto_assign=' + (formElem.querySelector('#auto_assign').checked ? "True" : "False");
                    }
                }

                uploadSlice()

            })
        })
    </script>
{% endblock %}
