{% extends 'admin/model/details.html' %}
{% block details_table %}
    <div style="margin-bottom: 8px;">
        <a href="{{ url_for('label_asset', asset_id=model.id, small=False) }}" class="btn btn-light">
            Show label
        </a>
        <a id="print-label" class="btn btn-primary">
            Print label
        </a>
        <span id="print-result"></span>
        <a id="copy-print-label-command" class="btn btn-primary">
            Copy print command
        </a>
    </div>
    <div style="margin-bottom: 8px;">
        <a href="{{ url_for('label_asset', asset_id=model.id, small=True) }}" class="btn btn-light">
            Show small
        </a>
        <a id="print-label-small" class="btn btn-primary">
            Print small
        </a>
        <span id="print-small-result"></span>
    </div>

    <h2><tt>{{ model.category.prefix }} {{ model.custom_code }}</tt> {{ model.name }}</h2>
    <strong>Manufacturer</strong>: {{ model.manufacturer }}

    {{ super() }}

    <h2>Files</h2>

    <div style="margin-bottom: 8px">
        <strong>Attach file to this asset</strong>:
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('asset.attach_file_view', id=model.id) }}" style="display: inline;">
            {{ asset_file_form.file }}
            {{ asset_file_form.title }}
            {{ asset_file_form.category }}
            <input type="submit" value="Submit" class="btn btn-primary" style="vertical-align: top;">
        </form>
    </div>

    <table class="table table-hover table-bordered">
        <tr>
            <th></th>
            <th>Path</th>
            <th>Category</th>
        </tr>
    {% for file in model.files %}
    <tr>
        <td>
            <a href="{{ url_for('file.edit_view', id=file.id) }}">
               <span class="fa fa-pencil glyphicon icon-pencil"></span>
            </a>

            <a href="{{ url_for('file.details_view', id=file.id) }}">
                <span class="fa fa-eye glyphicon icon-eye-open"></span>
            </a>
        </td>
        <td>
            {% if file.primary %}
                <span class="fa fa-eye glyphicon icon-star"></span>
            {% endif %}
            <a href="{{ url_for('file.details_view', id=file.id) }}">
                {{ file.filepath }}
            </a>
        </td>
        <td>{{ file.category }}</td>
    </tr>
    {% endfor %}
    </table>

    <h2>Transaction history</h2>

    <div style="margin-bottom: 8px">
        <a href="{{ url_for('transaction.create_view', asset_id=model.id) }}" class="btn btn-primary">Add new transaction</a>
    </div>

    <table class="table table-hover table-bordered">
        <tr>
            <th>Date</th>
            <th>Transaction type</th>
            <th>Note</th>
            <th>Together with</th>
            <th></th>
        </tr>
    {% for transaction in model.transactions %}
    <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.transaction_type.name }}</td>
        <td>{{ transaction.note }}</td>
        <td>
            <ul>
            {% for asset in transaction.assets %}
                <li><a href="{{ url_for('asset.details_view', asset_id=asset.id) }}">{{asset.name}} (id: {{asset.id}})</a></li>
            {% endfor %}
            </ul>
        </td>
        <td>
            <a href="{{ url_for('transaction.edit_view', id=transaction.id) }}">
               <span class="fa fa-pencil glyphicon icon-pencil"></span>
            </a>

            <a href="{{ url_for('transaction.details_view', id=transaction.id) }}">
                <span class="fa fa-eye glyphicon icon-eye-open"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </table>


{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        const copyToClipboard = str => {
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        };

        /* why did i do this it hurts so much */
        {% for small in ('', '-small') %}
            $('#print-label{{small}}').click(function(){
                $("#print{{small}}-result").html('Printing...');
                $.post("{{ url_for('print_label_asset', asset_id=model.id, small=True if small else False) }}",
                    function(data){
                        $("#print{{small}}-result").html(data);
                    },
                )
            })
        {% endfor %}

        $('#copy-print-label-command').click(function(){
            copyToClipboard("rhprint {{model.id}}")
        })
    </script>
{% endblock %}