{% extends 'admin/model/details.html' %}
{% block details_table %}
    <div style="margin-bottom: 8px;">
        <a href="{{ url_for('label_asset', asset_id=model.id) }}" class="btn btn-light">
            Show label
        </a>
        <a id="print-label" class="btn btn-primary">
            Print label
        </a>
        <span id="print-result"></span>
    </div>

    <h2><tt>{{ model.category.prefix }} {{ model.custom_code }}</tt> {{ model.name }}</h2>
    <strong>Manufacturer</strong>: {{ model.manufacturer }}

    {{ super() }}
{% endblock %}

{% block tail %}
    {{ super() }}

    <script>
        $('#print-label').click(function(){
            $("#print-result").html('Printing...');
            $.post("{{ url_for('print_label_asset', asset_id=model.id) }}",
                function(data){
                    $("#print-result").html(data);
                },
            )
        })
    </script>
{% endblock %}