{% extends 'admin/master.html' %}
{% from 'admin/asset/_macros.html' import render_asset_card %}

{% macro render_featured_tags() %}
    {% for tag in featured_tags %}
        <h3> {{ tag.name }}</h3>
        {% if tag.description %}
            <p>{{ tag.description }}</p>
        {% endif %}
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">
            {% for asset in tag.assets %}
                {{ render_asset_card(asset) }}
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Vítejte v inventárním systému spolku Herní historie, z.s.</h1>
            <p>
                Na tomto webu naleznete předměty, které jsou vedené v rámci evidence Herní historie, z.s.  Spolek zastřešuje dva projekty: <a href="https://retroherna.org/">RetroHerna</a> a <a href="https://herniarchiv.cz/">Československý herní archiv</a>.  Předměty se využívají k výstavním, výukovým, archivářským, a badatelským účelům v závislosti na charakteru.  V evidenci vedeme v současnosti více než 7000 předmětů zahrnující herní konzole a počítače, periferie, hry na původních nosičích, přepisovatelná média s uživatelskými programy, a literaturu, včetně časopisů a knih souvisejících s hrami či počítači.
                <p>V rámci transparentnosti umožňujeme široké veřejnosti nahlédnout do databáze, negarantujeme ovšem korektnost či úplnost informací.  Na inventarizaci naší sbírky se neustále pracuje a ne všechny předměty zatím mají položku v databázi.  V případě, že máte zájem o specifický předmět, či kategorii předmětů, a nenaleznete požadované informace v databázi, neváhejte nás <a href="https://herniarchiv.cz/contact">kontaktovat</a> a rádi vám pomůžeme.
                {# TODO důvody proč mohou být některé informace nepřístupné - možná stačí na stránce s těmi předměty
                    - Je tam klíč
                    - etc.
                #}
            </p>
            {{ render_featured_tags() }}
            {% if not current_user.is_authenticated %}
                <div style="margin-top: 128px; text-align: right;">
                    <a href="{{ url_for('login', next=next) }}">Přihlášení pro správce</a>
                </a>
            {% else %}
                {% if not current_user.read_access %}
                    <p class="text-warning">Nemáte práva, požádejte si o ně.
                {% endif %}
                <h2>Pro přihlášené uživatele</h2>
                <p>Omrkni další info <a href="https://retroherna.org/wiki/doku.php?id=inventar">na wiki</a>.

                <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.1/bokeh.min.js" integrity="sha512-2Eg0zNXJlBmICBS/KO67OamNxpln5shamyEK7UiUjvLdtYyCoAhzeAgUWYjJxilTZiPrGYZzlqWfiH1+8DBmVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                
                {{ plot_div | safe }}

                {{ plot_script | safe }}

            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
