{% extends admin_base_template %}
{# https://github.com/flask-admin/flask-admin/blob/master/flask_admin/templates/bootstrap2/admin/base.html #}
{% from '_macros.html' import icon %}

{% block head_css %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/rhinventory_icon.png') }}">
<link href="/static/main.css" rel="StyleSheet" type="text/css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap" rel="stylesheet">

<script src="https://unpkg.com/htmx.org@1.6.0"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<style>
    .glyphicon.fa::before {
        /* Some genius at flask-admin decided to use both glyphicon and fa
            icons at the same time.  Remove the FA icons. */
        content: "";
    }

    .faded { opacity: 0.15; }

    .plain {border: none; background: none;}
</style>

{% endblock head_css %}

{% block brand %}
    <a class="brand" href="{{ admin_view.admin.url }}"
        style="position: relative; width: 28px;"
    >
        <img
            src="{{ url_for('static', filename='img/rhinventory_icon.png') }}"
            style="position: absolute; top: -6px; left: 6px; max-height: 56px;"
        >
        {% if g.debug %}
            <div style="position: absolute; color: orange; left: -4px; top: 28px;">DEBUG</div>
        {% endif %}
    </a>
{% endblock %}

{% block main_menu %}
    <ul class="nav">
        {{ layout.menu() }}
        {# <li>
            <a href="https://casopisy.herniarchiv.cz/">Veřejná MagDB</a>
        </li> #}
    </ul>
{% endblock %}

{% block access_control %}
    <div class="pull-right">
        {% if current_user.is_authenticated %}
            <div style="margin-top: 8px;">
                {{ icon("user") }} {{ current_user.github_login }}
                &bull;
                <a href="{{ url_for('logout') }}">Log out</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block page_body %}
    <header>
        <a href="/" class="logo">
            <img src="https://herniarchiv.cz/ico/logo_herni_archiv.svg" alt="Logo Herního archivu">
        </a>
        <nav class="halinks">
            <li>
                <a href="https://herniarchiv.cz/">Informace o projektu</a>
            </li>
            <li>
                <a href="/"><strong>Inventární systém</strong></a>
            </li>
            <li>
                <a href="https://casopisy.herniarchiv.cz/">Databáze časopisů</a>
            </li>
        </nav>
    </header>
    {{ super() }}
{% endblock %}

{% block tail %}
    {#
        <div style="position: fixed; top: 32px; left: 32px; border: 3px solid red; padding: 8px; font-size: 32px; display: none;" id="htmx-error">
            htmx error!
        </div>

        <script>
            document.body.addEventListener('htmx:onLoadError', function(evt) {
                console.log('hi');
                document.getElementById("htmx-error").style.display = "block";
            });
        </script>
    #}
    <script>
        $('[rel=tooltip]').tooltip({'animation': false, 'html': true});
    </script>
{% endblock %}