{% macro icon(name, faded=False, tooltip=None) -%}
    <i
        class="fa-solid fa-{{name}} {% if faded %}faded{% endif %}"
        {% if tooltip %}
            rel="tooltip" title="{{ tooltip }}"
        {% endif %}
    ></i>
{%- endmacro %}

{% macro render_file_thumbnail(file, rnd=None) %}
    {% if file.has_thumbnail %}
        <img
            id="thumb-{{ file.id }}"
            src="{{ file.url_thumbnail }}?rnd={{ rnd }}"
            class="upload_result_thumb"
        >
    {% endif %}
{% endmacro %}

{% macro ha_header(section) %}
    <header class="ha-header">
        <a href="https://herniarchiv.cz/" class="logo">
            <img src="https://herniarchiv.cz/ico/logo_herni_archiv.svg" alt="Logo Herního archivu">
            {% if '127.0.0.1' in request.url|string %}
            <b>LOKÁLNÍ VERZE!!!</b>
            {% endif %}
        </a>
        <nav class="halinks">
            <li>
                <a href="https://herniarchiv.cz/about/">O nás</a>
            </li>
            <li>
                <a href="https://herniarchiv.cz/projects/">Projekty</a>
            </li>
            <li>
                {% if '127.0.0.1' in request.url|string %}
                    <a href="/"
                {% else %}
                    <a href="https://inventory.herniarchiv.cz/"
                {% endif %}
                        {% if section == 'inventory' %}class="active"{% endif %}
                >Sbírka</a>
            </li>
            <li>
                <a href="https://herniarchiv.cz/interviews/">Rozhovory</a>
            </li>
            <li>
                {% if '127.0.0.1' in request.url|string %}
                    <a href="/public-magdb/"
                {% else %}
                    <a href="https://casopisy.herniarchiv.cz/"
                {% endif %}
                    {% if section == 'magdb' %}class="active"{% endif %}
                >Časopisy</a>
            </li>
            <li>
                <a href="https://herniarchiv.cz/blog/">Blog</a>
            </li>
            <li>
                <a href="https://herniarchiv.cz/contact/">Kontakty</a>
            </li>
        </nav>
    </header>
{% endmacro %}

{% macro organization_icon(organization) %}
    <span
        rel="tooltip" title="{{ organization.name }}"
    >
        {%- if organization.icon_url -%}
            <img src="{{ organization.icon_url }}" class="organization-icon">
        {%- else -%}
            {{ organization.shortname }}
        {%- endif -%}
    </span>
{%- endmacro %}

{% macro render_event_timeline(events, displayed_event) %}
    <ul class="event-timeline">
        {% for event in events %}
            <li class="{% if event.id == displayed_event.id %}event-displayed{% endif %}">
                <a
                    href="{{ url_for('dbevent.details_view', id=event.id) }}"
                    rel="tooltip" title="Event #{{ event.id }} - {{ event.namespace }}.{{ event.class_name }}"
                >
                    {{ icon('circle') }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
