{% macro icon(name, faded=False, tooltip=None) -%}
    <i
        class="fa-solid fa-{{name}} {% if faded %}faded{% endif %}"
        {% if tooltip %}
            rel="tooltip" title="{{ tooltip }}"
        {% endif %}
    ></i>
{%- endmacro %}

{% macro render_file_thumbnail(file, rnd=None) %}
    {% if file.has_thumbnail %}
        <img
            id="thumb-{{ file.id }}"
            src="{{ file.url_thumbnail }}?rnd={{ rnd }}"
            class="upload_result_thumb"
        >
    {% endif %}
{% endmacro %}

{% macro ha_header(section) %}
    <header class="ha-header">
        <a href="/" class="logo">
            <img src="https://herniarchiv.cz/ico/logo_herni_archiv.svg" alt="Logo Herního archivu">
            {% if '127.0.0.1' in request.url|string %}
            <b>LOKÁLNÍ VERZE!!!</b>
            {% endif %}
        </a>
        <nav class="halinks">
            <li>
                <a href="https://herniarchiv.cz/">Informace o projektu</a>
            </li>
            <li>
                {% if '127.0.0.1' in request.url|string %}
                    <a href="/"
                {% else %}
                    <a href="https://inventory.retroherna.org/"
                {% endif %}
                        {% if section == 'inventory' %}class="active"{% endif %}
                >Inventární systém</a>
            </li>
            <li>
                {% if '127.0.0.1' in request.url|string %}
                    <a href="/public-magdb/"
                {% else %}
                    <a href="https://casopisy.herniarchiv.cz/"
                {% endif %}
                    {% if section == 'magdb' %}class="active"{% endif %}
                >Databáze časopisů</a>
            </li>
        </nav>
    </header>
{% endmacro %}